<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id ="numberGenerator" class="learn.application.NumberGeneratorImpl">

    </bean>

    <bean id="game" class="learn.application.GameImpl">
        <!--  constructor based dependency injection      -->
        <!--  <constructor-arg ref="numberGenerator"/>-->
        <!--  setter based dependency injection is done witth the help of property and ref keyword
         name refers to tthe property of the class while ref refers to the bean id of that particular bean we are using -->
        <property name="numberGenerator" ref="numberGenerator"> </property>
    </bean>

</beans>